@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

:root{
    --main-font: 'Yanone Kaffeesatz', sans-serif;
    --gray-olive: #a09d8f;
    --timber-green: #1b3536;
    --zest: #e3811e;
    --alto: #dcdbdb;
    --corduroy: #5d6a62;
    --cavern-pink: #dcbeae;
    --quincy: #603d2b;
    --cerulean: #069de0;
    --pale-leaf: #cbd4c3;
}

body{
    margin: 0; padding: 0;
    display: flex;
    flex-direction: column;
    background-image: url('../images/background.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}
.author-background a{
    text-decoration: none;
    color: white;
    font-family: var(--main-font);
    letter-spacing: 0.1em;
    font-size: 0.8em;
}
.questionnaire{
    margin-top: 0.5em;
    font-size: 0.9em;
    text-decoration: none;
    color: black;
    font-weight: 300;
    float: left;
}
.questionnaire:hover{
    color: brown;
}
.fa-download{
    margin-right: 0.5em;
}